
.btn {
    /* background-color: #701212; */
    background-color: #722F37;
    width: 400px;
  }

  .img-fluid {
/*     height: 200px;
    width: 400px; */
    border: 7px double black;
  }

  .select {
    background-color: rgba(255, 255, 255, 0.484);
  }


  .mydiv {
    padding-right: 20px;
    padding-left: 20px;

    padding-bottom: 20px;
    padding-top:20px;
    
    margin-top: 100px;
    margin-left: 50px;
    
  } 

  h1 {
    text-align: center;
    font-family: 'GeoSansLight', 'Times New Roman', Times, serif
  }

  body {
    font-family: 'GeoSansLight', 'Times New Roman', Times, serif
  }

  #position {
    text-align: right;
  }

  /*     img {
    height: 200px;
    width: 200px;
  } */

  .image-container {
    display: flex;
  }

  .image {
    margin-right: 10px;
    /* Adjust this value to add spacing between images */
    height: 200px;
    width: 200px;
  }


  p {
    color: rgb(255, 255, 255);
  }

  .mainSection {
    display: flex;
  }

  .navbar {
    background-color: #722F37;
    color: white;
    margin: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }

  .wineries-heading {
    margin: 25px;
  }

  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: rgb(123, 8, 8);
    text-align: center;
    padding: 20px;
    bottom: 0;

    /* width: 100%; */
    /* height: 150px; */
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
  }


  /* Social Media */

  .bi {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
  }

  .bi:hover {
    opacity: 0.7;
  }



  body {
    margin: 0;
    padding: 0;
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/blackieshoot-pH9e5w-TH-s-unsplash.jpg');
    /* background-image: url("images/blackieshoot-pH9e5w-TH-s-unsplash Landscape.jpg"); */
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: top;
    z-index: -1;
  }

  .content {
    padding-top: 100vh;
    /* Adjust this value as per your image height */
    background-color: white;
  }


  /*Search bar information*/

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }


  h2 {
    color: bisque
  }