/*BODY*/

@font-face {
    font-family: 'geosanslightregular';
    src: url('fonts/Geo-Sans-Light/geosanslight-webfont.woff2') format('woff2'),
        url('fonts/Geo-Sans-Light/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'geosanslightregular', 'Ariel', Times, serif !important;
    margin: 0;
    padding: 0;
}

/*BUTTONS*/
.btn {
    background-color: #722F37;
}

.btn-homepage {
    width: 100%;
}

.img-homepage {
    border: 7px  black;
    border-radius: 7px;
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.select {
    background-color: rgba(255, 255, 255, 0.484);
}


.mydiv {
    padding-right: 20px;
    padding-left: 20px;

    padding-bottom: 20px;
    padding-top: 20px;

    margin-top: 100px;
    margin-left: 50px;

}




#position {
    text-align: right;
}

.image-container {
    display: flex;
}

.image {
    margin-right: 10px;
    height: 200px;
    width: 200px;
}



.mainSection {
    display: flex;
}

.navbar {
    background-color: #722F37;
    color: white;
    margin: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.wineries-heading {
    margin: 25px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    bottom: 0;
    align-items: center;
}


/* Social Media */

.bi {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.bi:hover {
    opacity: 0.7;
}


.background-image {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../img/blackieshoot-pH9e5w-TH-s-unsplash.jpg');
    /* background-image: url("images/blackieshoot-pH9e5w-TH-s-unsplash Landscape.jpg"); */
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: top;
    z-index: -1;
}

.content {
    padding-top: 100vh;
    /* Adjust this value as per your image height */
    background-color: white;
}





/*OWNERS.HTML*/

.table-responsive-custom {
    table-layout: auto;
}

.table {
    max-width: 100%;

    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.custom-table {
    background-color: #222222;
    color: white;
}

.custom-table th {
    background-color: #222222;
    color: white;
}

.custom-table td {
    background-color: white;
    color: #222222;
}

*/ .wineries-heading {
    margin: 25px;
}



/*WINERTIES.HTML*/
#mainWineriesContent {
    color: black;
}

/*WINES*/


/*ABOUT PAGE*/
#list-team {
    list-style-type: none;
    font-size: 1.6rem;
}